
:root {
    --clr: rgb(155, 155, 155);
}

body{
    background-color: var(--clr);
}

h2 * {
    text-align: left !important;
    margin-left: 0 !important;
}

.nav {
    width:80%;
    height: 20%;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    width: 300px;
    margin: 51px;
}

.nav ul li {
    width: 70px;
    height: 30px;
    position: absolute;
    color: white;
    margin: 0;
    align-items: center;
}
.nav ul a {
    display: block;
    color: inherit;
    text-decoration: inherit;  
    position: relative;
    top: 20%;
    height: auto;
    color: white;
    margin: 0;
    text-align: center;
}

.physics {
    left: 200px;
}

.variables {
    left: 1400px;
}

.info {
    width: 18px;
    left: 1480px;
}

#indicator {
    position: absolute;
    width: 70px;
    height: 30px;
    background-color: var(--clr);
    border-top:    1px solid white;
    border-right:  1px solid white; 
    border-left: 1px solid white;
    margin: 0;
    transition: 0.5s;
    transition-property: left;
}

.border {
    margin-top: 80px;
    margin-bottom: 0;
}

.content {
    margin: 20px;
    margin-top: 50px;
    color: white;
}

#settings {
    width: auto;
    left: 400px;
    align-items: center;
}

#settings ul {
    position: relative;
    top: -51px;
    width: fit-content;
    margin-left: 0;
    margin-right: 0;
}

#settings ul li {
    width: auto;
    height: fit-content;
    position: relative;
    padding: 5px;
}
#settings ul li div{
    display: inline-block;
}

#settings ul li button{
    background-color: var(--clr);
    color: white;
    border: solid white 1px;
}

#variables {
    top: 1px;
    border-left: solid white 1px;
    border-right: solid white 1px;
    border-bottom: solid white 1px;
    background-color: var(--clr);
    overflow:hidden;
    transition:transform 0.3s ease-out; 
    height:auto;
    transform-origin:top;      
}
.active {
    transform: scale3d(1, 1, 1);
}
.inactive {
    transform: scale3d(0, 0, 0);
}

.formula {
    position: relative;
    width: fit-content !important;
    display: inline-block !important;
    transition: all 0.1s;
}

.formulaList {
    position: relative;
    width: auto !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    height: fit-content !important;
    align-items: center;    
}

.formulaVariables {
    position: absolute !important;
    height: fit-content;
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-left: 30px !important;
    border: solid white 1px;
    padding: 5px;
    top: 0 !important;    
    bottom: 0 !important;
}

.formulaDescription {
    width: fit-content !important;
    float: right !important;
}

#info_form h5{
    position: relative;
    display: inline-block;
    margin: 0;
    top: 20%;
}

p * {
    display: inline-block !important;
}

button * {
    display: inline-block !important;
    margin: 0 !important;
}
