
:root {
    --clr: rgb(155, 155, 155);
}

body{
    background-color: var(--clr);
}

.nav {
    width:80%;
    height: 20%;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    width: 300px;
    margin: 51px;
}

.nav ul li {
    width: 70px;
    height: 30px;
    position: absolute;
    color: white;
    margin: 0;
    align-items: center;
}
.nav ul a {
    display: block;
    color: inherit;
    text-decoration: inherit;  
    position: relative;
    top: 20%;
    height: auto;
    color: white;
    margin: 0;
    text-align: center;
}

.physics {
    left: 200px;
}

.variables {
    left: 1400px;
}

.info {
    width: 18px;
    left: 1480px;
}

#indicator {
    position: absolute;
    width: 70px;
    height: 30px;
    background-color: var(--clr);
    border-top:    1px solid white;
    border-right:  1px solid white; 
    border-left: 1px solid white;
    margin: 0;
    transition: 0.5s;
    transition-property: left;

}

.border {
    margin-top: 80px;
    margin-bottom: 0;
}

.content {
    margin: 20px;
    margin-top: 20px;
    color: white;
}

#settings {
    width: auto;
    left: 400px;
    align-items: center;
}

#settings > * {
    position: relative;
    width: auto;
    display: inline-block;
    margin: 0;
    top: 20%;

}

#settings > button{
    background-color: var(--clr);
    border: white solid 1px;
    color: white;
    border-radius: 0;    
}

#settings div{
    height: 14px;
    width: auto;
}

#info_form h5{
    position: relative;
    display: inline-block;
    margin: 0;
    top: 20%;
}

#variable_menu {
    position: relative;
    left: 350px;
    width: fit-content;
    height: fit-content;
    min-width: 100px;
    max-width: 700px;
    height: 30px;
    background-color: var(--clr);
    border-bottom:    1px solid white;
    border-right:  1px solid white;     
    border-left: 1px solid white;
    margin: 0;
    top: -1px;
    align-items: center;
}

#variable_menu li {
    width: fit-content;
    height: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    position: static;
    margin: 5px;
    display: inline-block;
    border: white 1px solid;
}

