{% load static %}
{% load mathjax %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{% static 'formulary/style.css' %}" rel="stylesheet">
        <script src="{% static 'formulary/index.js' %}"></script>
        <script>
            MathJax = {
                tex: {
                    inlineMath: [['$', '$'], ['\\(', '\\)']]
                },
                svg: {
                    fontCache: 'global'
                },
            };
            </script>
            <script type="text/javascript" id="MathJax-script" async
              src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
            </script>
    </head>
    <body>
        <div class="nav">
            <ul>
                <div id="indicator"></div>
                <li id="maths">
                    <a onclick="moveIndicator('51px')">Math</a>
                </li>
                <li class="physics" >
                    <a onclick="moveIndicator('200px')">Physics</a>
                </li>
                <li id="settings">
                    <ul>
                        <li>
                            <div id="results"><button onclick="showVariables('results')">Results in:</button></div>
                            <div id="using"><button onclick="showVariables('using')">Uses:</button></div>                                     
                        </li>
                        <li id="variables" class="inactive">
                             <div id="options_results" hidden>

                            </div>   
                            <div id="options_using" hidden>

                            </div>
                            
                        </li>
                    </ul>
                </li>

            </ul>
            <hr class="border">     
      
            <div class="content">      
                <div id="categories">      
   
                </div>    
                <div id="info_form" hidden>                    
                    <h5 style="margin-left: 50px;">^ Click a category!</h5>
                    <h5 style="margin-left: 75px;">Sort by resulting variables!^</h5>
                    <h5 style="margin-left: 20px;">^ Sort by requierd variables!</h5>
                    <h5 style="margin-left: 1000px;">Click me to access me again! ^</h5>
                </div>             
            </div>                   
        </div>


    </body>
</html>